<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the Ruby Monstas, <%= @user.name %>!</h1>
    <p>
      We are setting up a new Ruby study group for beginners and you are invited to join! For further details check <a href="http://rubymonstas.org">our website</a>
    </p>
    <p>
      We're looking forward to meeting you!
    </p>
    <div>
      <!-- trying to put a gif here, nothing worked, talk to Rebecca, aske her if she could make a gif of monsters dancing with a note saying "Welcome <3!" or something. -->
      <!-- <img src="monstas.jpeg" width="480" height="270" ></img> -->
      <img src="thegif.gif" ></img>

      <!-- <video id="gif-mp4" data-width="500" data-height="282" poster="https://media.giphy.com/media/QUEFPDQhw89bi/200_s.gif" style="margin: -116.95999999999998px 0px 0px; padding: 0px;" width="1280" height="721.92" autoplay="true" loop="true" autostart="true"><source src="//media.giphy.com/media/QUEFPDQhw89bi/giphy.mp4" type="video/mp4"></video> -->
      <!-- <div style="max-width: 500px;" id="_giphy_QUEFPDQhw89bi"></div>
      <script>
        var _giphy = _giphy || []; _giphy.push({id: "QUEFPDQhw89bi",w: 500, h: 282});var g = document.createElement("script"); g.type = "text/javascript"; g.async = true;g.src = ("https:" == document.location.protocol ? "https://" : "http://") + "giphy.com/static/js/widgets/embed.js";var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(g, s);
      </script> -->

      <!-- <iframe src="//giphy.com/embed/QUEFPDQhw89bi?html5=true" width="480" height="270" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> -->2
    </div>
  </body>
</html>
