<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the Ruby Monstas, <%= @user.name %>!</h1>
    <p>
      We are setting up a new Ruby study group for beginners and you are invited to join! For further details check <a href="http://rubymonstas.org">our website</a>
    </p>
    <p>
      We're looking forward to meeting you!
    </p>
  </body>
</html>