<article class="paper">
<h1>Thanks for signing up!</h1>
<p>As you are not a beginner, we suggest you just come by next Monday. You can find the address and other useful resources on the <a href="http://rubymonstas.org">Ruby Monstas' website</a>.</p>
<p>
  We also recommend attending Hackdays organised by RailsGirls, more details on <a href="http://railsgirlsberlin.de">RailsGirls Berlin website</a>.
</p>
</article>
