<p>Thanks for signing up!</p>
<p>We will notify you when we are about to set up a new beginners group.</p>

<p>Go to the <a href="http://rubymonstas.org">Ruby Monstas' website</a> to find learning resources and other interesting stuff :)</p>