<article class="paper">
<h1>Thanks for signing up!</h1>
<p>We will notify you when we are about to set up a new beginners group.</p>

<p>In the mean time, you can check out the <a href="http://rubymonstas.org">Ruby Monstas' website</a> to find learning resources and other interesting stuff :)</p>
<p>
  We also recommend attending a RailsGirls beginners workshop, if you haven't already, more details on <a href="http://railsgirlsberlin.de">RailsGirls Berlin website</a>.
  (A new RubyMonstas beginners group will definitely start on the Monday following that workshop. One can also start earlier.
  In either case, you will be notified via the given E-mail.)
</p>
</article>
