<article class="paper">
<h1>Thanks for signing up!</h1>
<p>We appreciate your interest in Ruby Monstas. But, as this is a group built for people who identify themselves as women, we sadly have to disregard your application.</p>

<p>
  However, we still do belive everybody should learn how to program. And to help you do so, we've written a book with the beginners curriculum, where the basics are explained and excercises with solutions are provided. You can find that along with other learning resources on the <a href="http://rubymonstas.org">Ruby Monstas' website</a>.
</p>

<p>
  We also recommend attending the Ruby Co-Learning meet-up organised by OpenTechSchool Berlin, where you can meet friendly people who can answer any questions you may have, more details on <a href="http://www.meetup.com/opentechschool-berlin/">OpenTechSchool Berlin's meet-up page</a>.
</p>
</article>
